---
import RootLayout from "../../layouts/RootLayout.astro";
---

<RootLayout title="abh1sheke's blog">
    <main class="min-h-screen pt-16">
        <div class="pt-20 text-center">
            <h1 class="text-3xl sm:text-5xl text-gray-200 font-black">
                abh1sheke&apos;s blog
            </h1>
            <p class="font-semibold text-cool-200">
                there&apos;s <span class="text-blaze-400 italic">nothing</span> to
                see here
            </p>
        </div>
    </main>
</RootLayout>
