---
import Main from "../../layouts/Main.astro";

const description =
  "Hi, i'm Abhisheke Acharya, an aspiring Software Developer. Welcome to my Blog. Over here, I talk about tech, fitness and other little things I find interesting throughout the week.";
---

<Main title="Blog" description={description}>
  <div
    class="blog flex flex-col justify-center text-center text-ocean-200 drop-shadow-md"
  >
    <h1
      class="mt-20 mb-5 text-5xl font-extrabold text-ocean-200 drop-shadow-md"
    >
      abh1sheke's Blog
    </h1>
    <h3 class="my-1 sm:text-lg">
      This is where I talk about tech, fitness and other little things that
      interest me throughout the week
    </h3>
    <h3 class="my-2 sm:text-lg">
      Tune in every Thursday for a brand new blog post.
    </h3>
    <p class="text-ocean-300">
      This page is still under construction! Go back <a
        href="/"
        class="font-bold underline transition-all hover:text-ocean-500">home</a
      >.
    </p>
  </div>
</Main>
