---
import RootLayout from "../layouts/RootLayout.astro";
---

<RootLayout>
  <main class="min-h-screen flex flex-col items-center justify-center">
    <h1 class="text-7xl font-black text-gray-300">404</h1>
    <h3 class="text-4xl font-extrabold text-cool-300">Not found</h3>
  </main>
</RootLayout>
