---
import Main from "../layouts/Main.astro";
import Intro from "../lib/containers/Home/Intro.astro";
import BlogPreview from "../lib/containers/Home/BlogPreview.astro";
import Technologies from "../lib/containers/Home/Technologies.astro";
import About from "../lib/containers/Home/About.astro";
---

<Main title="Home">
  <div class="home flex flex-col px-2 sm:px-6 font-inter">
    <section
      class="tech-n-blog h-auto mt-14 my-10 mb-20 items-center grid grid-cols-1 lg:grid-cols-3 w-5/6 md:w-3/4 lg:w-full mx-auto"
    >
      <Intro />
      <BlogPreview />
    </section>
    <Technologies />
    <About />
  </div>
</Main>
