---
import RootLayout from "../layouts/RootLayout.astro";
import IndexIntro from "../lib/containers/IndexIntro.astro";
import IndexBlog from "../lib/containers/IndexBlog.astro";
import IndexTrinkets from "../lib/containers/IndexTrinkets.astro";
---

<RootLayout>
  <main class="min-h-screen bg-dark-800 pt-10">
    <div
      class="sm:block flex flex-col m-auto text-cool-100 w-[335px] sm:w-[530px] pt-10"
    >
      <IndexIntro id="intro" />
      <IndexBlog id="blog" />
      <IndexTrinkets id="blog" />
    </div>
  </main>
</RootLayout>
