---
import RootLayout from "../layouts/RootLayout.astro";
import Greeting from "../lib/components/Greeting/Greeting.svelte";
import Navbar from "../lib/components/Navbar.astro";
import Parenthesised from "../lib/components/Parenthesised.astro";
---

<RootLayout>
  <Navbar />
  <main class="min-h-screen bg-dark-800 pt-16">
    <div
      class="sm:block flex flex-col m-auto text-cool-100 w-[335px] sm:w-[530px] py-10"
    >
      <section id="intro" class="my-10">
        <Greeting client:load />
        <h1 class="inline-block font-semibold">
          <span class="text-cool-400 text-xl sm:text-3xl">I&apos;m</span>
          <span class="text-3xl sm:text-5xl font-black ml-2 text-gray-100"
            >Abhisheke Acharya</span
          >
        </h1>
        <div class="mt-8 text-sm sm:text-lg">
          <p>
            I'm a 20 year old Software Engineer. I enjoying making
            <Parenthesised>and sometimes breaking</Parenthesised> software<span
              class="text-blaze-400">;</span
            >
            especially cool little applications for the internet.
          </p>
          <p class="mt-4">
            I also lift heavy circles, write <Parenthesised>
              mediocre<span class="text-blaze-500 font-extrabold">*</span>
            </Parenthesised> blogs, listen to a ton of experimental music and read
            a bit of philosophy in my free time.
          </p>
        </div>
      </section>
      <section id="blog" class="my-10">
        <h1 class="text-3xl font-black">Blog</h1>
        <p>Here are some recent blog posts.</p>
      </section>
      <section id="trinkets" class="my-10">
        <h1 class="text-3xl font-black">Trinkets</h1>
        <p>
          Here are some of the things Ive built <Parenthesised>
            or <span class="italic text-blaze-400">still</span> building
          </Parenthesised> recently.
        </p>
      </section>
    </div>
  </main>
</RootLayout>
