<section class="about-section md:3/4 mx-auto my-10 text-lg lg:w-2/3">
  <h3 class="text-center text-3xl font-bold text-ocean-200">About me</h3>
  <div class="mx-auto w-3/4 text-justify text-ocean-300">
    <p class="my-5">
      I'm a 20 year old Undergraduate Student at the University of Sydney. I
      love programming fun little applications on the web whenever I can. I am
      currently employed at Meritzeal Marketing Solutions where I have the
      opportunity to work on a variety of projects for clients.
    </p>
    <p class="my-5">
      Apart from my technical skills, I am a natural-born <span
        class="font-semibold italic">Leader</span
      >. I am constantly trying to learn new things and further bolster my
      current skillset.
    </p>
    <p class="my-5">
      Overall, my goal as a developer is to use my skills and knowledge to
      create meaningful and impactful projects that can help improve people's
      lives. I am excited to continue learning and growing as a developer, and I
      am confident that my passion and dedication will lead me to great success
      in the future.
    </p>
  </div>
</section>
