<section class="recent-blog-post mx-auto col-span-1 justify-self-end max-w-[400px] cursor-pointer">
  <h3 class="mb-2 text-center text-xl font-light text-ocean-200">
    Recent Blog post
  </h3>
  <div
    class="blog-preview mx-auto rounded-md bg-ocean-1000 p-2 text-ocean-200 shadow-md transition-all hover:scale-[1.02]"
  >
    <div class="blog-img-prev h-[200px] w-full rounded-md bg-ocean-800"></div>
    <div class="prev-conent py-3">
      <h3 class="blog-title text-2xl font-bold">
        Et mollit id esse pariatur nisi cupidatat
      </h3>
      <p class="blog-content py-3">
        Voluptate laboris tempor pariatur pariatur id aliqua mollit labore
        veniam eiusmod mollit ea ea...
      </p>
    </div>
    <div class="blog-info flex justify-around text-xs opacity-50 sm:text-sm">
      <h4><i class="fa-regular fa-calendar-days mx-1"></i>13 November</h4>
      <h4><i class="fa-regular fa-clock mx-1"></i>10 min</h4>
      <button
        >Continue reading<i class="fa-solid fa-arrow-right mx-1"></i>
      </button>
    </div>
  </div>
</section>
