<section class="recent-blog-post col-span-1 justify-self-end">
  <h1 class="mb-2 text-center font-inter text-xl font-light text-ocean-200">
    Recent Blog post
  </h1>
  <div
    class="blog-preview mx-auto rounded bg-ocean-1000 p-2 text-ocean-200 shadow-md"
  >
    <div class="blog-img-prev h-[200px] w-full rounded bg-ocean-800"></div>
    <div class="prev-conent py-3">
      <h1 class="blog-title text-2xl font-bold">
        Et mollit id esse pariatur nisi cupidatat
      </h1>
      <p class="blog-content py-3">
        Voluptate laboris tempor pariatur pariatur id aliqua mollit labore
        veniam eiusmod mollit ea ea...
      </p>
    </div>
    <div class="blog-info flex justify-around text-xs opacity-50 sm:text-sm">
      <h2><i class="fa-regular fa-calendar-days mx-1"></i>13 November</h2>
      <h2><i class="fa-regular fa-clock mx-1"></i>10 minutes</h2>
      <button
        >Continue reading<i class="fa-solid fa-arrow-right mx-1"></i>
      </button>
    </div>
  </div>
</section>
