---
const btnStyle =
  "px-5 py-2 bg-ocean-1000 hover:brightness-200 hover:text-ocean-100 transition-all text-ocean-200 rounded-3xl text-xs sm:text-sm mr-4 shadow-md";
---

<section class="intro-section col-span-2 mx-auto mb-14 lg:mb-0 flex flex-col">
  <h2 class="intro-greeting font-inter text-lg font-semibold text-ocean-300">
    Hey there! I'm
  </h2>
  <h1
    class="intro-name font-neutro text-4xl font-black text-ocean-200 drop-shadow-md sm:text-5xl md:text-6xl"
  >
    Abhisheke Acharya
  </h1>
  <div class="intro-body my-3 ml-1 font-inter text-xl text-ocean-300">
    <h3>Aspiring sofwtare developer, fitness enthusiast and music nerd.</h3>
  </div>
  <div class="flex justify-start py-4">
    <button class={btnStyle}><a href="/blog">Visit my blog</a></button>
    <button class={btnStyle}><a href="#projects">View my projects</a></button>
  </div>
</section>
