<section class="projects-section mx-auto" id="projects">
  <h3
    class="projects-header text-center font-inter text-3xl font-bold text-ocean-200 sm:text-4xl"
  >
    Projects
  </h3>
  <div
    class="projects-body to ocean-1000 my-10 flex h-[250px] w-[380px] flex-col justify-center rounded bg-gradient-to-b from-ocean-800 shadow-md hover:shadow-lg brightness-50 transition-all hover:brightness-105"
  >
    <i class="fa-solid fa-person-digging mx-auto text-7xl text-ocean-500"></i>
    <h4 class="text-center font-semibold text-ocean-300">
      Under construction...
    </h4>
  </div>
</section>
