---
import TechImage from "../../components/TechImage.astro";
---

<section class="technologies-section my-10 lg:mb-0">
  <h3
    class="text-center text-2xl font-bold text-ocean-200 sm:text-4xl"
  >
    Stuff that I work with
  </h3>
  <div
    class="tech-stack-icons mx-auto my-8 flex w-[85%] flex-col place-content-center justify-items-center sm:w-3/4 md:w-2/3 lg:my-20"
  >
    <div class="mx-auto my-7 flex w-full justify-around md:w-3/4">
      <TechImage src="/images/ts.png" alt="typescript.png" />
      <TechImage src="/images/svelte.png" alt="svelte.png" />
      <TechImage src="/images/react.png" alt="react.png" />
      <TechImage src="images/postgresnew.png" alt="postgres.png" />
    </div>
    <div class="mx-auto my-7 flex w-full justify-around md:w-3/4">
      <TechImage src="/images/nextjs.png" alt="nextjs.png" />
      <TechImage src="/images/pythonnew.png" alt="python.png" />
      <TechImage src="/images/nodenew.png" alt="node.png" aspectRatio="1.63" />
      <TechImage src="images/djangonew.png" alt="django.png" />
    </div>
  </div>
</section>
