@tailwind base;
@tailwind utilities;
@tailwind components;

html,
body {
  min-height: 100vh;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

ul {
  list-style-type: none;
}

@keyframes active-page-hl {
  from {
    width: 0px;
    opacity: 0;
  }
  to {
    width: 100%;
    opacity: 0.5;
  }
}

@keyframes jiggle {
  0% {
    transform: rotate(0deg);
    top: 10;
  }
  25% {
    transform: rotate(7.5deg);
  }
  50% {
    transform: rotate(-7.5deg);
  }
  75% {
    transform: rotate(7.5deg);
  }
  100% {
    transform: rotate(0deg);
    top: 300;
  }
}
