---
import Navbar from "../lib/components/Navbar.astro";
import { Icon } from "astro-icon";

const { title, description } = Astro.props;
const host = Astro.url.origin;
---

<html lang="en" class="scroll-smooth">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta
      name="description"
      content={description ||
        "A 20 year old, indepenent Software Engineer based in Bengaluru"}
    />
    <meta property="og:title" content={title} />
    <meta property="og:url" content={host} />
    <meta
      data-n-head="1"
      property="og:description"
      content="20 year old, indepenent Software Engineer based in Bengaluru"
    />
    <meta property="og:type" content="website" />
    <meta data-n-head="1" name="twitter:card" content="summary_large_image" />
    <meta data-n-head="1" name="twitter:creator" content="@abh1sheke" />
    <meta name="generator" content={Astro.generator} />
    <title>{title || "Abhisheke Acharya"}</title>
  </head>
  <body class="min-h-screen bg-dark-800 antialiased">
    <Navbar />
    <slot />
    <footer
      class="w-[335px] sm:w-[530px] border-t border-t-gray-600 my-10 mx-auto pt-4 sm:pt-10 flex sm:flex-row flex-col sm:justify-between justify-center items-center text-cool-100"
    >
      <h3 class="text-center sm:text-base text-sm">
        <span class="text-blaze-400">&copy;</span>
        2022 - Present <span class="text-gray-200 font-bold"
          >Abhisheke Acharya</span
        >
      </h3>
      <a
        target="_blank"
        href="http://github.com/abh1sheke/abh1sheke-dev"
        class="flex items-center hover:text-gray-200 transition-colors sm:text-base text-sm mt-2 sm:mt-0"
      >
        <Icon name="bi:github" />
        source</a
      >
    </footer>
  </body>
</html>

<style lang="postcss">
[astro-icon] {
  @apply w-[14px] h-[14px] mr-2;
}
</style>
