---
const { title } = Astro.props;
---

<html lang="en" class="scroll-smooth">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <script
      src="https://kit.fontawesome.com/dc19eae1d2.js"
      crossorigin="anonymous"></script>
    <title>{title || "Abhisheke Acharya"}</title>
  </head>
  <body class="min-h-screen bg-dark-800 antialiased">
    <slot />
    <footer
      class="w-[335px] sm:w-[530px] border-t border-t-gray-600 my-10 mx-auto pt-10"
    >
      <h3 class="text-center text-cool-100">
        <span class="text-blaze-400">&copy;</span>
        2022 - Present <span class="text-gray-200 font-bold">Abhisheke Acharya</span>
      </h3>
    </footer>
  </body>
</html>
