---
import Navlink from "./Navlink.astro";
---

<header class="w-full h-16 p-3 flex justify-between">
    <div></div>
    <ul class="flex">
        <Navlink href="/">home</Navlink>
        <Navlink href="/blog">blog</Navlink>
        <Navlink href="/#trinkets">trinkets</Navlink>
    </ul>
</header>
