---
const { href, target } = Astro.props;
---

<li
    class="text-dark-100 font-bold hover:text-gray-100 transition-colors"
>
    <a href={href} class="mx-3" target={target}>
        <slot />
    </a>
</li>
