<span class="emp-paren">(</span><span class="text"><slot /></span><span
  class="emp-paren">)</span
>

<style>
  .emp-paren {
    @apply font-extrabold text-cool-600;
  }

  .text {
    @apply font-bold text-gray-200;
  }
</style>
