---
import IndexSection from "../components/IndexSection.astro";
---

<IndexSection id="trinkets">
  <h1 class="text-2xl sm:text-3xl font-black text-gray-200">Trinkets</h1>
  <p class="sm:text-base text-sm">
    Here&apos;s some stuff I&apos;ve <span class="font-semibold text-gray-200"
      >built</span
    ><span class="italic text-blaze-400">*</span> recently.
  </p>
</IndexSection>
