---
import TechImage from "../components/TechImage.astro";
---

<section class="technologies-section my-10 lg:mb-0">
  <h3
    class="text-center font-inter text-3xl font-bold text-ocean-200 sm:text-4xl"
  >
    Stuff that I work with
  </h3>
  <div
    class="tech-stack-icons mx-auto my-8 grid w-[85%] grid-cols-4 place-content-center place-items-center justify-items-center gap-y-10 sm:w-3/4 md:w-2/3 lg:my-20"
  >
    <TechImage src="/images/ts.png" alt="typescript.png" />
    <TechImage src="/images/svelte.png" alt="svelte.png" />
    <TechImage src="/images/react.png" alt="react.png" />
    <TechImage src="images/postgresnew.png" alt="postgres.png" />
    <TechImage src="/images/nextjs.png" alt="nextjs.png" />
    <TechImage src="/images/pythonnew.png" alt="python.png" />
    <TechImage src="/images/nodenew.png" alt="node.png" aspectRatio="1.63" />
    <TechImage src="images/djangonew.png" alt="django.png" />
  </div>
</section>
